$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);
$Tomato: hsl(4, 100%, 67%);
$Tomato-1: hsl(346, 100%, 66%);

// mixin for buttons
@mixin button() {
	height: 52px;
	border-radius: 8px;
	border: none;
	text-align: center;
	color: $White;
	font-size: 15px;
	font-weight: 700;
	background-color: $Dark-Slate-Grey;
	padding: 0 30px;
	cursor: pointer;
	transition: 0.3s ease;
	outline: none;
	&:hover {
		background: linear-gradient(to right, $Tomato-1, $Tomato);
		box-shadow: 0px 16px 20px 8px rgba($Tomato-1, $alpha: 0.2);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", serif;
	background-color: $Charcoal-Grey;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 17px 22px 15px 0px;
	background-color: $White;
	border-radius: 32px;

	.illustration-sign-up-desktop {
		svg {
			height: 530px;
		}
	}
}
.form-wrapper {
	width: 100%;
	width: 490px;
	padding: 55px;

	.headings {
		padding-right: 20px;
		color: $Dark-Slate-Grey;
		margin-bottom: 30px;
		p {
			font-size: 16px;
			margin: 20px 0px;
		}
		h1 {
			font-size: 54px;
			font-weight: 700;
		}
	}

	.info {
		margin-bottom: 35px;
		li {
			display: flex;
			flex-direction: row;
			justify-content: left;
			row-gap: 10px;
			list-style: none;
			font-size: 16px;
			margin-bottom: 14px;
			color: $Dark-Slate-Grey;
		}
		img {
			margin-right: 16px;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		padding: 0px 8px;
		input {
			height: 50px;
			margin-bottom: 20px;
			border-radius: 8px;
			border: 1px solid $Grey;
			padding: 0px 16px;
			font-size: 15px;
			color: $Dark-Slate-Grey;
			&:focus {
				outline: none;
				border: 1px solid $Charcoal-Grey;
			}
		}

		button {
			@include button();
		}
	}

	label {
		font-size: 12px;
		color: $Dark-Slate-Grey;
		margin-bottom: 8px;
		font-weight: 700;
	}
}
.signup-success-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $White;
	border-radius: 40px;
	width: 475px;
	height: 475px;
}

.signup-success-message__inner {
	display: flex;
	flex-direction: column;
	padding: 57px;

	h2 {
		color: $Dark-Slate-Grey;
		font-size: 54px;
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1;
		margin-bottom: 27px;
	}
	p {
		color: $Charcoal-Grey;
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
		font-weight: 400;
		span {
			color: $Dark-Slate-Grey;
			font-weight: 700;
		}
	}
	img {
		height: 62px;
		margin-bottom: 30px;
	}
	button {
		@include button();
	}
}

.hidden {
	display: none;
}