* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  background-color: hsl(235, 18%, 26%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 17px 22px 15px 0px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 32px;
}
.container .illustration-sign-up-desktop svg {
  height: 530px;
}

.form-wrapper {
  width: 100%;
  width: 490px;
  padding: 55px;
}
.form-wrapper .headings {
  padding-right: 20px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 30px;
}
.form-wrapper .headings p {
  font-size: 16px;
  margin: 20px 0px;
}
.form-wrapper .headings h1 {
  font-size: 54px;
  font-weight: 700;
}
.form-wrapper .info {
  margin-bottom: 35px;
}
.form-wrapper .info li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  row-gap: 10px;
  list-style: none;
  font-size: 16px;
  margin-bottom: 14px;
  color: hsl(234, 29%, 20%);
}
.form-wrapper .info img {
  margin-right: 16px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0px 8px;
}
.form-wrapper form button {
  height: 52px;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  background-color: hsl(234, 29%, 20%);
  padding: 0 30px;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
}
.form-wrapper form button:hover {
  background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
  box-shadow: 0px 16px 20px 8px rgba(255, 82, 122, 0.2);
}
.form-wrapper .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
}
.form-wrapper .status label {
  color: hsl(234, 29%, 20%);
}
.form-wrapper .status p {
  color: hsl(4, 100%, 67%);
}

.signup-success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 40px;
  width: 485px;
  height: 485px;
}

.signup-success-message__inner {
  display: flex;
  flex-direction: column;
  padding: 57px;
}
.signup-success-message__inner h2 {
  letter-spacing: -1.5%;
  color: hsl(234, 29%, 20%);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
  margin-bottom: 25px;
}
.signup-success-message__inner p {
  letter-spacing: -1.5%;
  color: hsl(235, 18%, 26%);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: 400;
}
.signup-success-message__inner p span {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.signup-success-message__inner img {
  height: 60px;
  margin-bottom: 40px;
}
.signup-success-message__inner button {
  height: 52px;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  background-color: hsl(234, 29%, 20%);
  padding: 0 30px;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
}
.signup-success-message__inner button:hover {
  background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
  box-shadow: 0px 16px 20px 8px rgba(255, 82, 122, 0.2);
}

.hidden {
  display: none;
}

.userInputonErr {
  border-color: hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  background-color: #ffe8e6;
}

input {
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  padding: 0px 16px;
  font-size: 15px;
  color: hsl(234, 29%, 20%);
}
input:focus {
  outline: none;
  border: 1px solid hsl(235, 18%, 26%);
}

/*# sourceMappingURL=style.css.map */
