/* ============ */
/* Fonts */
/* ============ */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300&display=swap");

/* ============ */
/* Global Variables */
/* ============ */

:root {
	--step--6: clamp(0.34rem, calc(0.39rem + -0.05vw), 0.38rem);
	--step--5: clamp(0.43rem, calc(0.46rem + -0.03vw), 0.45rem);
	--step--4: clamp(0.54rem, calc(0.54rem + -0.01vw), 0.54rem);
	--step--3: clamp(0.65rem, calc(0.65rem + 0.03vw), 0.67rem);
	--step--2: clamp(0.78rem, calc(0.76rem + 0.08vw), 0.84rem);
	--step--1: clamp(0.94rem, calc(0.91rem + 0.16vw), 1.05rem);
	--step-0: clamp(1.13rem, calc(1.07rem + 0.27vw), 1.31rem);
	--step-1: clamp(1.35rem, calc(1.27rem + 0.42vw), 1.64rem);
	--step-2: clamp(1.62rem, calc(1.5rem + 0.62vw), 2.05rem);
	--step-3: clamp(1.94rem, calc(1.77rem + 0.89vw), 2.56rem);
	--step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.2rem);
	--step-5: clamp(2.8rem, calc(2.45rem + 1.72vw), 4.01rem);
	--step-6: clamp(3.36rem, calc(2.89rem + 2.35vw), 5.01rem);
	--step-7: clamp(4.03rem, calc(3.39rem + 3.18vw), 6.26rem);

	/* CSS LIGHT */
	--secondary: #e0e0e0;
	--accent: #87ceeb;
	--text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: var(--step-0);
    background-color: var(--secondary);
    color: var(--text-color);

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
	min-width: 300px;
	border: 1px solid black;

	#weather-icon {
		background-color: var(--accent);
		border-bottom: 1px solid ;
	}

	.weather_info {
		display: flex;
		margin-inline: 15px;
		justify-content: space-between;
		font-size: var(--step-1);
	}


	.wind {
		display: flex;
		margin-top: 30px;
		margin-inline: 15px;
		font-size: var(--step-0);

		.windLogo {
			height: 20px;
			margin-right: 8px;
		}

	}

}



