:root {
  font-size: 16px;
}

body {
  color: white;
  background-color: rgb(145, 141, 141);
  font-family: sans-serif;
}

a {
  color: white;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: black;
}

.nav {
  display: flex;
  column-gap: 5rem;
  font-size: 1.3rem;
}

.nav__pages {
  display: flex;
  column-gap: 1rem;
}
.nav__pages a,
.nav__pages div {
  padding: 0.8rem 0.5rem;
}
.nav__pages a {
  text-decoration: none;
}

.nav__search {
  flex-grow: 1;
  padding: 0.3rem 0;
}
.nav__search input {
  padding: 0.6rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  outline: none;
}
.nav__search input:hover {
  background-color: lightgrey;
}
.nav__search .searchBtn {
  padding: 0.7rem 1rem;
  background-color: rgb(28, 27, 27);
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  margin-left: 0.2rem;
  cursor: pointer;
}
.nav__search .searchBtn:hover {
  background-color: rgb(125, 123, 123);
}

.book-list {
  display: flex;
  padding: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
.book-list .book-item {
  border-radius: 0.3rem;
  background-color: #3f3e3e;
  padding: 11px;
  width: 295px;
  height: 310px;
}
.book-list .book-item:hover {
  background-color: #5e5c5c;
}
.book-list .book-item .imageCover-div {
  height: 200px;
}
.book-list .book-item .imageCover-div img {
  border-radius: 0.3rem;
}
.book-list .book-item .info {
  margin-top: 10px;
  text-align: center;
}
.book-list .book-item .info h3 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.book-list .book-item .info .bookItem__author,
.book-list .book-item .info .bookItem__pagesread {
  color: lightgrey;
  font-size: 0.9rem;
  margin: 5px 0;
}
.book-list .book-item .info .bookItem__author {
  color: lightgrey;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.newButtonArea {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.newBookBtn {
  background-color: #3f3e3e;
  color: white;
  padding: 0.8rem 1.5rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
}
.newBookBtn:hover {
  background-color: #5e5c5c;
}

.modal {
  background-color: rgb(46, 45, 45);
  color: #f9f3f3;
  position: fixed;
  top: 50%;
  width: 300px;
  height: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.modal h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
.modal .inputFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal .inputFields input {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
  outline: none;
}
.modal .inputFields label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: grey;
}
.modal .inputFields .submitBtn,
.modal .inputFields .exitBtn {
  padding: 0.8rem 1.5rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #3f3e3e;
  color: white;
}
.modal .inputFields .submitBtn:hover,
.modal .inputFields .exitBtn:hover {
  background-color: #5e5c5c;
}

@media screen and (max-width: 679px) {
  .nav__links,
  .nav__search {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
