* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Average Sans", sans-serif;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  background: white;
  border: 1px solid rgb(128, 126, 126);
  background-color: transparent;
  outline: none;
  color: white;
  border-radius: 5px 0px 0px 5px;
}
form button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  background: white;
  border: 1px solid rgb(128, 126, 126);
  background-color: #434343;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
form button:hover {
  color: #434343;
  background-color: white;
}
form select {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid rgb(128, 126, 126);
  width: 7rem;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  color: white;
  background-color: #363434;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-container .todo-list {
  min-width: 60%;
  list-style: none;
}
.todo-container .todo-list .todo {
  margin: 0.5rem;
  background-color: white;
  color: #434343;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
}
.todo-container .todo-list .todo .todo-item {
  padding: 0.5rem;
}
.todo-container .todo-list .todo li {
  flex: 1;
}
.todo-container .todo-list .todo .trash-btn {
  background-color: #706d6d;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.35s;
}
.todo-container .todo-list .todo .trash-btn i {
  pointer-events: none;
}
.todo-container .todo-list .todo .trash-btn:hover {
  background-color: rgb(219, 81, 81);
}
.todo-container .todo-list .todo .complete-btn {
  background-color: white;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.35s;
  color: rgb(149, 228, 133);
}
.todo-container .todo-list .todo .complete-btn i {
  pointer-events: none;
}
.todo-container .todo-list .todo .complete-btn:hover {
  background-color: rgb(149, 228, 133);
  color: white;
}

.completed {
  transition: all 0.2s;
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  animation: fall 0.5s ease-out;
}

@keyframes fall {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(9rem);
    opacity: 0;
  }
}
/* Footer */
.footer__wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
}

.footer__wrapper > * {
  color: var(--background-color);
  margin-top: 18px;
  margin-inline: 9px;
}

.logo {
  margin-top: -7px;
  height: 40px;
  fill: var(--background-color);
}

.loading {
  display: none;
}

.loading-done {
  display: contents;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.centerBike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 26px;
  margin-left: -12px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#loop {
  height: 100px;
  width: 100px;
  border: #bb5f27 solid 4px;
  border-radius: 200px;
}

#loop:before {
  background: linear-gradient(to left, rgba(187, 95, 39, 0) 0%, rgb(187, 95, 39) 30%, rgb(187, 95, 39) 70%, rgba(187, 95, 39, 0) 100%);
  content: "";
  display: block;
  height: 4px;
  left: -100px;
  position: relative;
  top: 100px;
  width: 300px;
}

#bike-wrapper {
  height: 108px;
  width: 108px;
  animation: drive 3s linear infinite;
}

#bike {
  height: 24px;
  width: 25px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133687/motorbike.png");
}

@keyframes drive {
  0% {
    margin-left: -354px;
    opacity: 0;
  }
  33.33% {
    transform: rotate(0deg);
    margin-left: -50px;
    opacity: 1;
  }
  66.66% {
    transform: rotate(-360deg);
    margin-left: -50px;
    opacity: 1;
  }
  100% {
    margin-left: 204px;
    transform: rotate(-360deg);
    opacity: 0;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #706d6d;
  font-family: "Average Sans", sans-serif;
}
.header__wrapper .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  column-gap: 12px;
  font-size: 1.25rem;
  position: relative;
  top: 4x;
  margin: 5px;
}
.header__wrapper .nav-list a {
  text-decoration: none;
  color: white;
}
.header__wrapper .nav-list i {
  color: white;
}
.header__wrapper .nav-list i:hover {
  color: #e98243;
}
.header__wrapper .profileLogo {
  margin: 5px;
  color: white;
}
.header__wrapper .appName {
  position: absolute;
  top: 6px;
  text-align: center;
  font-size: 1.3rem;
  left: 46%;
}

/*# sourceMappingURL=style.css.map */
