@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

:root {
 
    --text: #e1e4f9;
    --background: #070a22;
    --primary-button: #3649d9;
    --secondary-button: #090d2f;
    --accent: #273bce;


    /* Step 0: 16.00px → 18.00px */
    --step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    
    /* Step 1: 19.20px → 22.50px */
    --step-1: clamp(1.20rem, calc(1.13rem + 0.36vw), 1.41rem);
    
    /* Step 2: 23.04px → 28.13px */
    --step-2: clamp(1.44rem, calc(1.33rem + 0.55vw), 1.76rem);
    
    /* Step 3: 27.65px → 35.16px */
    --step-3: clamp(1.73rem, calc(1.56rem + 0.82vw), 2.20rem);
    
    /* Step 4: 33.18px → 43.95px */
    --step-4: clamp(2.07rem, calc(1.84rem + 1.17vw), 2.75rem);
    
    /* Step 5: 39.81px → 54.93px */
    --step-5: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--text);
    font-family: 'Kalam', cursive;
}

/* HEADER */
.header__wrapper {
    font-size: var(--step-4);
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.header__wrapper  button {
    padding: 2px 14px;
    font-size: var(--step-2);
    border: 1px solid;
    color: var(--text);
    background-color: transparent;
    border-radius: 4px;
}

.navigation__bar {
    position: relative;
    bottom: 5px;
}

/* INNER */

.palete {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 10px;
    color: black;
}

.color1, .color2, .color3, .color4, .color5 {
    min-height: 450px;
    font-family: 'Martian Mono', monospace;
    font-size: var(--step-0);
    border-radius: 1px 1px 2px 2px;
}

.button_space {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 23px;
}

.inner__wrapper  button {
    padding: 8px 20px;
    font-size: var(--step-2);
    border: 2px solid;
    color: var(--text);
    background-color: transparent;
    border-radius: 8px;
    max-height: 64px;
}

.copy__svg{
    width: 30px;
    display: none;
}

.hidden {
    min-width: 300px;
    min-width: 300px;
    background-color: var(--text);
    display: none;
}