@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap');

:root {
    --step--10: clamp(0.21rem, calc(0.14rem + 0.38vw), 0.48rem);
    --step--9: clamp(0.25rem, calc(0.16rem + 0.49vw), 0.60rem);
    --step--8: clamp(0.31rem, calc(0.18rem + 0.63vw), 0.74rem);
    --step--7: clamp(0.37rem, calc(0.21rem + 0.81vw), 0.93rem);
    --step--6: clamp(0.44rem, calc(0.23rem + 1.03vw), 1.16rem);
    --step--5: clamp(0.53rem, calc(0.26rem + 1.32vw), 1.45rem);
    --step--4: clamp(0.63rem, calc(0.29rem + 1.69vw), 1.82rem);
    --step--3: clamp(0.76rem, calc(0.33rem + 2.16vw), 2.27rem);
    --step--2: clamp(0.91rem, calc(0.36rem + 2.76vw), 2.84rem);
    --step--1: clamp(1.09rem, calc(0.39rem + 3.51vw), 3.55rem);
    --step-0: clamp(1.31rem, calc(0.42rem + 4.46vw), 4.44rem);
    --step-1: clamp(1.58rem, calc(0.44rem + 5.67vw), 5.55rem);
    --step-2: clamp(1.89rem, calc(0.45rem + 7.21vw), 6.93rem);
    --step-3: clamp(2.27rem, calc(0.44rem + 9.14vw), 8.67rem);
    --step-4: clamp(2.72rem, calc(0.40rem + 11.59vw), 10.83rem);
    --step-5: clamp(3.27rem, calc(0.33rem + 14.68vw), 13.54rem);
    --step-6: clamp(3.92rem, calc(0.20rem + 18.58vw), 16.93rem);
    --step-7: clamp(4.70rem, calc(0.00rem + 23.51vw), 21.16rem);
    --step-8: clamp(5.64rem, calc(-0.30rem + 29.72vw), 26.45rem);
    --step-9: clamp(6.77rem, calc(-0.74rem + 37.56vw), 33.06rem);
    --step-10: clamp(8.13rem, calc(-1.36rem + 47.43vw), 41.33rem);



    /* COLORS */
    --text: #0b1608;
    --background: #e1f3dd;
    --primary-button: #5064be;
    --secondary-button: #f8fcf8;
    --accent: #be5064;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}

.article__wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.article__wrapper {
    font-size: var(--step-1);
    margin-bottom: -10px;
}

#count {
    font-size: var(--step-4);
}

.site__buttons {
    margin-top: -5px;
}

.article__wrapper button {
    font-size: var(--step--4);
    border: 2px solid var(--primary-button);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--primary-button);
    border-radius: var(--step--8);
    font-family: 'Lato', sans-serif;
}

#reset {
    background-color: var(--secondary-button);
}

button:hover {
    border-color: var(--accent);
}

@media screen and (max-width: 600px) {
    button:hover {
        border: 2px solid var(--primary-button);
    }
}

.footer__wrapper {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.logo {
    width: 40px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}